div.container.p-5.border.mt-4
    div.row.mb-5
        h2 Your mood history
        p.text-secondary.fs-5 Here you can see your previous submissions 
    div.row
        #accordion.accordion
            for element, index in dummyHistory
                .accordion-item
                    h2.accordion-header(id=`heading${index+1}`)
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target=`#collapse${index+1}` aria-controls=`collapse${index+1}`)
                            strong Mood:
                            span.ms-3 #{dummyHistory[index].mood}
                    div.collapse1.accordion-collapse.collapse(id=`collapse${index+1}` aria-labelledby=`heading${index+1}` data-bs-parent='#accordion')
                        .accordion-body 
                            if dummyHistory[index].description
                                .container.mb-4
                                    span.text-secondary.fs-6 Description: 
                                    span #{dummyHistory[index].description}
                            else
                                .container.mb-4
                                    span.text-secondary.fs-6 No description for this submission
                            if dummyHistory[index].quote 
                                .container.mb-4 
                                    span.text-secondary.fs-6 Quote: 
                                    span #{dummyHistory[index].quote}
                                    form
                                        button.btn.btn-primary.mt-2 Get a new quote
                            else 
                                .container.mb-4 
                                    span.text-secondary.fs-6 No quote for this submission
                                    form
                                        button.btn.btn-primary.mt-2 Get a new quote
                            if dummyHistory[index].video 
                                .container.mb-4 
                                    div.text-secondary.fs-6 Video: 
                                    div.container.p-2.mt-3 !{dummyHistory[index].video} 
                                    form
                                        button.btn.btn-primary Get a new video
                            else 
                                .container.mb-4
                                    div.text-secondary.fs-6 No video for this submission
                                    form(action='/newVideo/' + dummyHistory[index].entryId + '/' + dummyHistory[index].mood, method="get")
                                        button.btn.btn-primary.mt-2 Get a new video   
                                    